/* All pages */
body {
    background: #500b62;
}

.main-content {
    color: #222;
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
    font-size: 17px;
    position: relative;
    min-height: 90vh;
}

.footer {
    color: white;
    text-align: center;
    clear: both;
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

.footer > a {
    color: #2495f2;
}

/* Forms only */
.form-control {
    display: inline-block;
    border-radius: 2px;
    font-size: 20px;
    margin-top: 5px;
}

.form-container {
    padding: 50px;
}

form.main-form h1 {
    text-align: center;
}

form.main-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    background-color: #84858b;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
}

.button-row {
    text-align: center;
}

.button-row > button {
    margin: 7px;
}

.error {
    text-align: center;
    color: #bf0018;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

.join-button {
    float: right;
    margin-top: 10px;
}

label {
    margin-top: 10px;
}

/* For cards */
.card-container {
    text-align: center;
    margin-top: 10px;
}

.card-image {
    width: 100%;
    height: auto;
}

.card-image-container {
    margin: 0 10px 10px 10px;
}

.role-description {
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #79bdbe;
    background-color: #3d3b2a;
    color: #d2d2d2;
}