{% extends "_layout.html" %}

{% block main_content %}
    <div class="form-container">
        <form action="" method="POST" class="main-form">
            <h1>Treachery</h1>

            <div class="button-row">
                <button name="submit_button" value="create" type="submit" class="btn btn-success">Create Room</button>
                <button name="submit_button" value="join" type="submit" class="btn btn-primary">Join Room</button>
            </div>
        </form>
    </div>
{% endblock %}